header{
    background-color: var(--Cor-Secundaria);
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    align-items: center;
    padding: var(--px-12);

    .Logo{
        width: 72px;
        height: 72px;
        transition: transform 0.4s ease-in;

        img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            pointer-events: none;
        }

        &:hover{
            transform: scale(1.08);
            cursor: pointer;
        }
    }
    
    nav{
        width: 100%;

        ul{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            a{
                color: var(--Preto);
                font-weight: 700;
                font-size: 0.9rem;
                padding: 6px 16px;
                background-color: var(--Cor-Primaria);
                border-radius: var(--px-6);
                transition: transform 0.4s ease-in;

                &:hover{
                    background-color: var(--Branco);
                    cursor: pointer;
                    transform: scale(1.02);
                }
            }
        }
    }

    .btn-Header-Acao{
        align-items: center;

        a{
            background-color: var(--Azun);
            padding: 8px 24px;
            border-radius: 8px;
            color: var(--Branco);
            box-shadow: var(--Box-Shadow);
            font-weight: 700;
            font-size: 1.02rem;
            display: flex;
            align-items: center;
            justify-content: space-around;
            transition: transform 0.4s ease-in;

            &:hover{
                cursor: pointer;
                transform: scale(1.02);
            }

            i{
                pointer-events: none;
                margin-right: var(--px-6);
                font-style: normal;
            }
        }
    }
}